/* main */
* {
    list-style: none;


}

main {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #CCFAFC;
    margin-bottom: 100px;
}

main h2 {
    font-size: 42px;
    color: #CBF9FF;
    text-shadow: 0 2px 4px #000;
}

main h3 {
    font-size: 24px;
    color: #ccfaffb9;
    line-height: 1.5;
    margin-left: 5px;
}

main img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 3px solid #CCFAFC;
    transition: border 0.5s;

}

main a {
    border: 0px;
    padding: 0px;
    margin: 0px;
}

.container-projetos {
     margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;

    background: rgba(255, 255, 255, 0.05);
    padding: 30px;
    border-radius: 20px;
    border: 1px solid #b74afc40;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px #b84afc30;
    max-width: 1200px;
    
    min-height: 520px;
    margin-bottom: 0px;

}

ul{
    
    align-items: center;
    justify-content: center;
    display: grid;
     grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    text-align: center;
    gap: 30px;

}


li {
   display: grid;
    text-align: left;
    padding: 10px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    border: 1px solid #b74afc40;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px #b84afc30;

}

.seta {

    display: inline-block;
    visibility: hidden;
}

h3 {
    transition: color 0.5s;
}

.container-select{
visibility: visible;
position: fixed;
right: 10%;
top: 43px;

}
.texto-select{


}
.container-options{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #b74afc40;
     border-radius: 10px;
     gap: 5px;
     padding: 5px;

}
.button-select{
    border-radius: 10px;
 border: 1px solid #b74afc40;
 width: 150px;

}

.button-options:hover{
    width: 100%;
        border-radius: 10px;
 border: 1px solid #b74afc40;
background: rgba(255, 255, 255, 0.05);

}
button{ 
        font-size: 24px;
    color: #ccfaffb9;
    border: none;
    background: none;

}
button span{

font-size: 10px ;

}

@media (max-width: 600px) {
.container-select{
visibility: visible;
position: fixed;
right: 30px;
top: 43px;

}
.container-projetos h2{
justify-content: left;
text-align: left;


}
    
}