/* main */

main {
     min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #CCFAFC;
    margin-bottom: 100px;
}

main h2 {

    font-size: 42px;
    color: #CBF9FF;
    text-shadow: 0 2px 4px #000;
}

main p {
    font-size: 20px;
    color: #ccfaffb9;
    line-height: 1.5;
    margin-top: 10px;
    margin-bottom: 20px;
}

.sonbre-texto{

display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    
    background: rgba(255, 255, 255, 0.05);
    padding: 30px;
    border-radius: 20px;
    border: 1px solid #b74afc40;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px #b84afc30;
    max-width: 800px;
    



}
.curriculo {
    font-size: 30px;
    color: #ccfafcdf;
    margin: 30px;
    text-shadow: 2px 4px 5px #eeeeee96;
}

.curriculo a {
    font-size: 30px;
    color: #ff01d5;
    margin: 10px;
}

.curriculo a:hover {
    font-size: 30px;
    color: #ff01d58c;
    transition: 0.3s;
    text-shadow: 2px 4px 5px #eeeeee96;
}

.cor {
    color: #d598fb;
}

.grifarECor {
    color: #ff01d5;
    text-decoration: underline #B74AFC;
}


