 /* Formatação do navegador  */
 * {
    margin: 0px;
    padding: 0px;
   box-sizing: border-box;
    text-decoration: none;  /* Tira as linhas dos links   */
    font-family: "Roboto", sans-serif;  /* fonte padrao da pagina  */
    color: #188EEB;
     border-collapse: collapse;
    line-height: 1.5;
    webkit-text-size-adjust: 100%;
    moz-tab-size: 4;
    o-tab-size: 4;
    tab-size: 4;

} 
 



html {

}


/* 
-------------------------------------menus------------------------------------------------------------ */
.div-menu {
    display: block;
    margin: auto;
    padding: 10px;
    text-align: center;
    align-items: center;

}

nav {
    display: flex;
    
}

.link-menu {

    margin: 0px 10px 0px 10px;
    font-size: 25px;
}

/*--------------------------------------- main Home ---------------------------------------------------------- */
#responcivo {
    display: none;

    opacity: 50%;
}

.main-home {
      position: fixed;
  pointer-events: none;
  transition: transform 0.1s ease;
    display: flex;
}

.sectionLeft {
    margin: 90px auto auto 30px;
}

.texto-section {

    opacity: 50%;
}

#texto-section-1 {
    font-size: 100px;
}

#texto-section-2 {
    font-size: 60px;
    margin: 40PX 80px;
}

#texto-section-3 {
    font-size: 70px;
    margin-left: 120px;
}

/*--------------------------------------imagens/ home ---------------------------------------------------- */
.logo1 {
    margin-top: 80px;
    width: 100%;
    opacity: 30%;
    
}

.logo2 {
    margin-top: 10px;
    width: 100%;
     opacity: 30%;
    
}

a {
     font-weight: bolder;
    color: inherit !important;
    text-decoration: inherit;
}

/* ------------------------animação-------------------------------------------------------------- */
a:hover { 
    opacity: 60%;
}

a:active {
    opacity: 30%;
}








