html {
    scroll-behavior: smooth;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "Ancizar Serif", serif;
    user-select: none;


 /*    background-color: #ffffff;
    color: #030303;
     */

        background-color: #0F172A;
    color: #ffffff;
}

main {
    height: 100%;
    z-index: 1;
    padding: 5% 40px 50px 39%;
    margin: 0px;
}


#fundoEfeito {
    position: fixed;
    width: 1200px;
    height: 1200px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(56, 191, 248, 0.116), transparent 70%);
    pointer-events: none;
    z-index: 1;
    transform: translate(-50%, -50%);
    transition: transform 0.05s ease;
}

.contatosResponsivo {
    display: none;
}

/* ------------------------------ Menu ------------------- */

.menu-lateral {
    margin-top: 5%;
    display: block;
    position: fixed;
    border: auto;
    width: 30%;
    height: 100%;
}

.header-link {
    width: 130px;
}

.logo1 {
    cursor: default;
    font-size: 250%;
    margin: 0px 30px 0px 10%;
    
}

.logo2 {
    cursor: default;
    font-size: 100%;
    margin: 0px 0px 0px 30%;
    
}

.logo3 {
    cursor: default;
    font-size: 100%;
    margin: 30px 0px 150px 10%;
    color: #9c9b9b;
}

/*                     contatos */

.linckContatos {
    width: 35px;
    margin: 160px 0px auto 10%;
}
.contatos{
    width: 100%;
    height: 37%;
    text-align: center;
align-items: end;
text-align: center;

}
.imgContatos {
    width: 30px;
}

.linckContatos:ative {
    opacity: 10%;
}

.linckContatos:hover {
    
    transform: scale(1.5);
    opacity: 70%;
}

/* ------------------------------ sobre ------------------ */

.titulo-sobre,
.titulo-prjetos {
    font-size: 30px;
    margin: 0px 0px 10px 0px;
    cursor: default;
}

.texto-sobre {
    opacity: 80%;
    text-align: justify;
    font-size: 21px;
    margin: 0px 0px 30px 0px;
    cursor: default;
}

.texto-sobre:hover {
    transform: translateX(10px);
}

.titulo-sobre:hover {
    transform: translateX(10px);
}

/* ------------------------------ projetos ------------------ */

.img-projetos {
    border-radius: 10px;
    margin: 10px;
    width: 180px;
    height: 100px;
    cursor: pointer;
}

.ul-projetos {

    text-align: left;
}

.li-projetos {
    padding: 10px 30px 13px 10px;
    margin: 10px 0px 10px 0px;
    align-items: center;
    display: flex;
    gap: 20px;
}

.div-projetos {
    margin: 10px 0px 10px 10px;
    background-color: transparent;
}


.titulo-projetos-li {
    font-size: 27px;
    background: transparent;
}

.texto-projetos {
    color: #9c9b9b;
    background-color: transparent;
}

#linkNovaProjetos {
    margin: 50px;
    font-size: 25px;

}

#linkNovaProjetos {
    margin: 50px;
    font-size: 25px;
}

/*                       Responsivo */
@media screen and (max-width:1370px) {
    .logo1 {
    cursor: default;
    font-size: 200%;
    margin: 0px 30px 0px 10%;
}

.buttonTheme{
width: 50px;

}
    main {
        z-index: 1;
        padding: 5% 40px 50px 39%;
        margin: 0px;
    }

    .linckContatos {
        margin: 140px 0px auto 30px;
        padding: 10px;
    }

    .titulo-sobre,
    .titulo-prjetos {
        font-size: 27px;
        margin: 0px 0px 10px 0px;
        cursor: default;
    }

    .texto-sobre {
        opacity: 80%;
        text-align: justify;
        font-size: 19px;
        margin: 0px 0px 30px 0px;
        cursor: default;

    }

    .img-projetos {
        border-radius: 10px;
        margin-left: 5px;
        width: 150px;

        cursor: pointer;
    }

    .li-projetos {
        padding: 0px;
        margin: 10px 0px 10px 0px;
        align-items: center;
        display: flex;
    }

    .titulo-projetos-li {
        font-size: 23px;
        background: transparent;
    }
}

@media screen and (max-width:1025px) {
    main {
        z-index: 1;
        padding: 5% 40px 50px 39%;
        margin: 0px;

    }

    .logo1 {
        font-size: 150%;
    }

    .logo2 {
        font-size: 50%;
    }

    .logo3 {
        cursor: default;
        font-size: 60%;
        margin: 30px 0px 150px 10%;
        color: #9c9b9b;
    }

    .linckContatos {
        width: 28px;
        margin: 300px 0px auto 10%;

    }

}

@media screen and (max-width:860px) {
    main {
        text-align: justify;
        width: 100%;
        height: 100%;
        z-index: 1;
        padding: 0px;
        margin-top: 50px ;
    }

.buttonTheme{
width: 100px;
margin-left: 60%;
}
    .menu-lateral {
        margin-top: 5%;
        display: block;
        position: relative;
        width: 100%;
        height: 100%;

    }

    .logo1 {
        cursor: default;
        font-size: 150%;
        margin: 0px 10%;
        color: #f1f1f1;
        width: 159px;
    }

    .logo2 {
        cursor: default;
        font-size: 50%;
        margin: 0px 30px;
        width: 140px;
    }

    .logo3 {
        display: none;
    }

    .titulo-sobre,
    .titulo-prjetos {
        font-size: 23px;
        margin: 0px 0px 10px 0px;
        cursor: default;
    }

    .texto-sobre {
        opacity: 80%;
        text-align: justify;
        font-size: 15px;
        margin: 0px 0px 25px 0px;
        cursor: default;
    }

    .linckContatos {
        display: none;

    }

    #linkSobre {
        display: none;
    }

    #linkProjetos {
        display: none;
    }

    .container-sobre {
        margin: 30px;
    }

    .container-projetos {
        margin: 30px;
    }

    .img-projetos {
        border-radius: 10px;
        margin: 0px;
        width: 100%;
        height: 60%;
        cursor: pointer;
    }

    .titulo-projetos-li {
        text-align: justify;
        font-size: 18px;
    }

    .texto-projetos {
        text-align: justify;
        font-size: 13px;
    }

    .contatosResponsivo {
        width: 100%;
        display: inline-block;
        text-align: center;
    }

    #linkNovaProjetos {
        text-align: justify;
        
        margin: 50px 0px 0px 0px;
        font-size: 20px;
    }

    .li-projetos {
     margin: 0px;
        padding: 0px;
        text-align: center;
        margin: 0px;
        display: block;
    }


}