/* Formatação do navegador */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none; /* Tira as linhas dos links */  
    font-family: "Roboto", sans-serif; /* fonte padrao da pagina */
    color: #188EEB;

}

/* --------------------------------------menus------------------------------------------------------------ */
.div-menu {
    display: block;
    margin: auto;
    padding: 10px;
    text-align: center;
    align-items: center;

}

nav {
    display: flex;
    
}

.link-menu {

    margin: 0px 10px 0px 10px;
    font-size: 25px;
}

/*--------------------------------------- main Home ---------------------------------------------------------- */
#responcivo {
    display: none;

    opacity: 50%;
}

.main-home {
    display: flex;
}

.sectionLeft {
    margin: 90px auto auto 30px;
}

.texto-section {

    opacity: 50%;
}

#texto-section-1 {
    font-size: 100px;
}

#texto-section-2 {
    font-size: 60px;
    margin: 40PX 80px;
}

#texto-section-3 {
    font-size: 70px;
    margin-left: 120px;
}

/*--------------------------------------imagens/ home ---------------------------------------------------- */
.logo1 {
    margin-top: 80px;
    width: 100%;
    
}

.logo2 {
    margin-top: 10px;
    width: 100%;
    
}



/* ------------------------animação-------------------------------------------------------------- */
a:hover {
    opacity: 60%;
}

a:active {
    opacity: 30%;
}









/*     paginas responsivas  */
@media (max-width: 1100px) {

    /* menu home */
    .div-menu {
        display: block;
        margin: auto;
        padding: 30px;
    }


    /* main home */
    .texto-section {
        display: none;
    }

    #responcivo {
        font-size: 40px;
        display: block;
    }

    .main-home {
        display: block;
        text-align: center;
        align-items: center;
    }

    .sectionLeft {
        margin: 90px auto auto 30px;
    }

    /* imagem home */
    .logo {
        padding: 50px 0px 0px 50px;
        margin: auto;
        opacity: 75%;
        width: 300px;
    }

    .logo-linguagens {
        display: block;
        margin: 40px auto;
        width: 100px;
    }
}

@media (max-width: 900px) {

    /* menu home */
    .div-menu {
        display: block;
        margin: auto;
        padding: 10px;
    }

    .link-menu {
        margin: 0px 8px 0px 8px;
        font-size: 20px;
    }

    /* main home */

    .sectionLeft {
        margin: 10px auto;
    }

    /* imagem home */
    .logo {
        padding: 50px 0px 0px 50px;
        margin: auto;
        opacity: 75%;
        width: 300px;
    }

    .logo-linguagens {
        display: block;
        margin: 40px auto;
        width: 100px;
    }

}