.switch {
      position: relative;
      display: inline-block;
      width: 40px;
      height: 20px;
    }

    /* Oculta o input padrão */
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    /* Estilo da caixa do botão */
    .slider {
         height: 20px;
         width: 40px;
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #0f172a00;
      transition: 0.4s;
      border-radius: 34px;
      border: 1px solid rgba(255, 255, 255, 0.308);
    }

    /* Bolinha do botão */
    .slider::before {
      position: absolute;
      content: "";
      height: 19px;
      width: 19px;
      left: 0px;
      bottom: 0px;
      background-color: rgb(196, 196, 196);
      transition: 0.4s;
      border-radius: 50%;
    }

    /* Quando estiver ativado */
    input:checked + .slider {
      background-color: #f8f40060;
    }

    /* Move a bolinha para a direita */
    input:checked + .slider::before {
      transform: translateX(20px);
    }
