* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: black;
    color: red;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

h1 {
    color: red;
    font-size: 60px;
    margin: 100px auto 50px auto;
}

.inputs {
    color: red;
    align-items: center;
    text-align: center;
    width: 250px;
    height: 30px;
    margin: 10px;
    border-radius: 10px ;
font-size: 25px;
border-color: rgba(255, 0, 0, 0.517) ;
}
.botoes{
display: flex;
font-size: 30px;
}
button{
    width: 80px;
    height: 40px;
    border-color: rgba(255, 0, 0, 0.517) ;
    margin: 10px;
    cursor: pointer;
}
.div-resultado{
font-size: 30px;
margin: 30px;

}
button:hover{
    opacity: 50%;
}
button:active{
    opacity: 30px;
}